AdsClients/AdsClient/Service References/productservice/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AddsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AddsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Electronic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image1" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Image2" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Image3" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="SellarAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellarContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Electronic" nillable="true" type="tns:Electronic" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoryname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategotyId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fuel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image1" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Image2" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Image3" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="SellarAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellarContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image1" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Image2" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Image3" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="SellarContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="sellarAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="ArrayOfElectronic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Electronic" nillable="true" type="tns:Electronic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElectronic" nillable="true" type="tns:ArrayOfElectronic" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
</xs:schema>